Checks: >
  -*,
  bugprone-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  clang-analyzer-*,
  -cppcoreguidelines-pro-type-union-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-macro-usage
  
WarningsAsErrors: >
  bugprone-*,
  modernize-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  clang-analyzer-*

HeaderFilterRegex: '.*'
FormatStyle: file

HeaderFilterRegex: ''
